/* NORMALIZADOR */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
    text-align: center;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto Slab', serif;
    color: white;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* AYUDAS */

.container {
    margin: 0 auto;
    max-width: 1400px;
}

/* HEADER */

.mainHeader {
    background-color: #0C0A09;
    padding: 1.4rem;
}

#mainHeader__logo {
    display: block;
    max-width: 150px;
    min-width: 120px;
}

.mainHeader__nav {
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    gap: 2rem;
}

.mainHeader__menu {
    display: flex;
    align-items: center;
    gap: 4.4rem;
    font-size: 2em;
}

.menu__link {
    font-weight: 300;
    transition: all .2s;
}

.menu__link:hover {
    color: #9AC92C;
}

/* MAIN */

#mainSection {
    background-image: linear-gradient(#0C0A09, #2E2E2E)
}

.frontPage__title {
    display: flex;
    flex-direction: row;
    font-size: 40px;
    font-weight: bold;
    justify-content: center;
    padding: 2rem;
}

.frontPage__subtitle {
    display: flex;
    flex-direction: row;
    font-size: 36px;
    font-weight: bold;
    justify-content: center;
    padding: 2rem;
}

.frontPage__text {
    display: flex;
    flex-direction: row;
    font-size: 32px;
    padding: 2rem;
}

.encuesta {
    display: flex;
    flex-direction: row;
    justify-content: center
}

/* FOOTER */

footer {
    background-color: #2E2E2E;
    padding: 1.4rem;
    color: #FFFFFF
}

.footer__text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 18px;
}

.footer__img {
    width: 150px;
    height: 60px;
}


/* MEDIA */

@media (max-width: 620px) {
    .mainHeader__nav {
        flex-direction: column;
    }

    .encuesta {
        flex-direction: column;
    }
}