/* MISC */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
  text-align: center; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Roboto Slab', serif;
  color: white; }

img {
  width: 100%; }

ul {
  list-style-type: none; }

dl, ol, ul {
  margin-top: 0;
  margin-bottom: 0rem;
  padding-left: 0rem; }

a {
  text-decoration: none;
  color: inherit; }

/* PARTIALS */
.footer {
  background-color: #2E2E2E;
  padding: 1.4rem;
  color: #FFFFFF; }
  .footer__text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 18px;
    font-weight: normal; }
  .footer__img {
    width: 150px;
    height: 60px; }

.mainHeader {
  background-color: #0C0A09;
  padding: 1.4rem; }
  .mainHeader #mainHeader__logo {
    display: block;
    max-width: 150px;
    min-width: 120px; }
  .mainHeader__nav {
    display: flex;
    justify-content: space-between;
    gap: 2rem; }
  .mainHeader__menu {
    display: flex;
    align-items: center;
    gap: 4.4rem;
    font-size: 2em; }

.menu__link {
  font-weight: 300;
  transition: all .2s;
  color: #FFFFFF; }

.menu__link:hover {
  color: #9AC92C; }

.navbar-toggler-icon {
  background-color: white; }

/* VIEWS */
/* INICIO */
#mainSection {
  background-image: linear-gradient(#0C0A09, #2E2E2E); }

.carousel-item .carousel__title {
  color: white;
  text-shadow: 0 0 5px #0C0A09;
  font-size: xx-large; }

.carousel-item .carousel__description {
  color: white;
  text-shadow: 0 0 5px black;
  font-size: large; }

.frontPage__title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;
  font-weight: bold;
  padding: 2rem;
  font-size: 40px; }

.frontPage__subtitle {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;
  font-weight: bold;
  padding: 2rem;
  font-size: 36px; }

.frontPage__text {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;
  padding: 2rem;
  font-size: 32px;
  font-weight: 400; }

/* CONTENIDO */
.separador {
  display: block;
  align-items: center;
  margin: 0px auto;
  width: 15rem;
  height: 0.5rem;
  padding: 2rem; }

.containerOne {
  display: grid;
  grid-template-areas: "titulo1 titulo1 titulo1" "imagenEnVivo1 imagenEnVivo2 imagenEnVivo3";
  justify-content: center; }
  .containerOne__title {
    grid-area: titulo1;
    font-size: 36px;
    font-weight: bold;
    padding: 2rem; }
  .containerOne__img, .containerOne .containerOne__img--img1, .containerOne .containerOne__img--img2, .containerOne .containerOne__img--img3 {
    width: 386px;
    height: 400px;
    padding: 1rem;
    background-size: cover; }
  .containerOne .containerOne__img--img1 {
    background-image: url("../img/en-vivo/imagenEnVivo1.png");
    grid-area: imagenEnVivo1; }
  .containerOne .containerOne__img--img2 {
    background-image: url("../img/en-vivo/imagenEnVivo2.png");
    grid-area: imagenEnVivo2; }
  .containerOne .containerOne__img--img3 {
    background-image: url("../img/en-vivo/imagenEnVivo3.png");
    grid-area: imagenEnVivo3; }

.containerTwo {
  display: grid;
  grid-template-areas: "titulo2 titulo2 titulo2" "imagenPeliculas1 imagenPeliculas2 imagenPeliculas3";
  justify-content: center; }
  .containerTwo__title {
    grid-area: titulo2;
    font-size: 36px;
    font-weight: bold;
    padding: 2rem; }
  .containerTwo__img, .containerTwo .containerTwo__img--img4, .containerTwo .containerTwo__img--img5, .containerTwo .containerTwo__img--img6 {
    width: 386px;
    height: 400px;
    padding: 1rem;
    background-size: cover; }
  .containerTwo .containerTwo__img--img4 {
    background-image: url("../img/peliculas/imagenPeliculas1.png");
    grid-area: imagenPeliculas1; }
  .containerTwo .containerTwo__img--img5 {
    background-image: url("../img/peliculas/imagenPeliculas2.png");
    grid-area: imagenPeliculas2; }
  .containerTwo .containerTwo__img--img6 {
    background-image: url("../img/peliculas/imagenPeliculas3.png");
    grid-area: imagenPeliculas3; }

.containerThree {
  display: grid;
  grid-template-areas: "titulo3 titulo3 titulo3" "imagenSeries1 imagenSeries2 imagenSeries3";
  justify-content: center; }
  .containerThree__title {
    grid-area: titulo3;
    font-size: 36px;
    padding: 2rem;
    font-weight: bold; }
  .containerThree__img, .containerThree .containerThree__img--img7, .containerThree .containerThree__img--img8, .containerThree .containerThree__img--img9 {
    width: 386px;
    height: 400px;
    padding: 1rem;
    background-size: cover; }
  .containerThree .containerThree__img--img7 {
    background-image: url("../img/series/imagenSeries1.png");
    grid-area: imagenSeries1; }
  .containerThree .containerThree__img--img8 {
    background-image: url("../img/series/imagenSeries2.png");
    grid-area: imagenSeries2; }
  .containerThree .containerThree__img--img9 {
    background-image: url("../img/series/imagenSeries3.png");
    grid-area: imagenSeries3; }

/* MEDIA */
@media (max-width: 620px) {
  .mainHeader__nav {
    flex-direction: column; } }
