<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Fut+ ofrece contenido gratuito relacionado al fútbol en donde podrás ver eventos en vivo, series y películas con la mejor calidad posible.">
    <meta name="keywords" content="FUTBOL, EN VIVO, FUTBOL EN VIVO, SERIES, PELICULAS, SERIES ONLINE, PELICULAS ONLINE, CODERHOUSE, PREMIER LEAGUE, LIGUE 1, BUNDESLIGA, SERIE A, LALIGA SANTANDER, LIGA PROFESIONAL DE FUTBOL">
    <link rel="shortcut icon" href="../img/favicon.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;500;700&display=swap" rel="stylesheet">
    <title>Películas | Fut+ (Beta)</title>
</head>
<body id="top">
    <header class="mainHeader">
        <nav class="mainHeader__nav navbar navbar-expand-lg">
            <div class="container-fluid">
                <a id="mainHeader__logo" href="../index.html">
                    <img src="../img/logo.png" alt="FutPlus Logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav mainHeader__menu">
                        <li class="nav-item menu__item">
                            <a class="nav-link menu__link" href="../views/en-vivo.html">Partidos en vivo</a>
                        </li>
                        <li class="nav-item menu__link">
                            <a class="nav-link menu__link" href="../views/peliculas.html">Películas</a>
                        </li>
                        <li class="nav-item menu__link">
                            <a class="nav-link menu__link" href="../views/series.html">Series</a>
                        </li>
                        <li class="nav-item menu__link">
                            <a class="nav-link menu__link" href="../views/contacto.html">Contacto</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main id="mainSection">
        <section class="frontPage">
            <h1 class="frontPage__title">PELÍCULAS</h1>
            <div class="frontPage__video">
                <iframe width="1280" height="720" src="https://www.youtube.com/embed/cAL6S-bhc1s?autoplay=1" title="Fue la mano de Dios | Tráiler Oficial | Netflix" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <h2 class="frontPage__subtitle">ESTAS VIENDO:</h2>
            <h3 class="frontPage__text">"Fue la mano de Dios", de Óscar Paolo Sorrentino</h3>
        </section>
        <section class="container">
            <picture class="separador">
                <img src="../img/separador.jpg" alt="separador">
            </picture>
            <article class="containerOne">
                <h2 class="containerOne__title">ÚLTIMOS AGREGADOS</h2>
                <div class="containerOne__img">
                    <img class="containerOne__img1" src="../img/peliculas/imagenPeliculas1.png" alt="Primera película agregada">
                    <img class="containerOne__img2" src="../img/peliculas/imagenPeliculas2.png" alt="Segunda película agregada">
                    <img class="containerOne__img3" src="../img/peliculas/imagenPeliculas3.png" alt="Tercera película agregada">
                </div>
            </article>
            <picture class="separador">
                <img src="../img/separador.jpg" alt="separador">
            </picture>
            <article class="containerTwo">
                <h2 class="containerTwo__title">MÁS POPULAR</h2>
                <div class="containerTwo__img">
                    <img class="containerTwo__img1" src="../img/peliculas/imagenPeliculas4.png" alt="Primera pelicula popular">
                    <img class="containerTwo__img2" src="../img/peliculas/imagenPeliculas5.png" alt="Segunda pelicula popular">
                    <img class="containerTwo__img3" src="../img/peliculas/imagenPeliculas6.png" alt="Tercera pelicula popular">
                </div>
            </article>
            <picture class="separador">
                <img src="../img/separador.jpg" alt="separador">
            </picture>
            <article class="containerThree">
                <h2 class="containerThree__title">RECOMENDADOS PARA VOS</h2>
                <div class="containerThree__img">
                    <img class="containerThree__img1" src="../img/peliculas/imagenPeliculas7.png" alt="Primer pelicula recomendada">
                    <img class="containerThree__img2" src="../img/peliculas/imagenPeliculas8.png" alt="Segunda pelicula recomendada">
                    <img class="containerThree__img3" src="../img/peliculas/imagenPeliculas9.png" alt="Tercera pelicula recomendada">
                </div>
            </article>
        </section>
    </main>
    <footer class="footer">
        <a href="#top">
            <img class="footer__img" src="../img/logo.png" alt="FutPlus Logo">
        </a>
        <section class="container">
            <p class="footer__text">Fut+ es un proyecto para la plataforma Coderhouse de la carrera de Desarrollo Web. Su construcción y desarrollo está sujeto a cambios.</p>
            <p class="footer__text">© Fut+. Todos los derechos reservados.</p>
        </section>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>