<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/favicon.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/series.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;500;700&display=swap" rel="stylesheet">
    <title>Series | Fut+ (Beta)</title>
</head>
<body id="top">
    <header class="mainHeader">
        <nav class="mainHeader__nav navbar navbar-expand-lg">
            <div class="container-fluid">
                <a id="mainHeader__logo" href="../index.html">
                    <img src="../img/logo.png" alt="FutPlus Logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav mainHeader__menu">
                        <li class="nav-item menu__item">
                            <a class="nav-link menu__link" href="../views/en-vivo.html">Partidos en vivo</a>
                        </li>
                        <li class="nav-item menu__link">
                            <a class="nav-link menu__link" href="../views/peliculas.html">Películas</a>
                        </li>
                        <li class="nav-item menu__link">
                            <a class="nav-link menu__link" href="../views/series.html">Series</a>
                        </li>
                        <li class="nav-item menu__link">
                            <a class="nav-link menu__link" href="../views/contacto.html">Contacto</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main id="mainSection">
        <section class="frontPage">
            <h1 class="frontPage__title">SERIES</h1>
            <div class="frontPage__video">
                <iframe width="1280" height="720" src="https://www.youtube.com/embed/7mEH2NtiT-Y?autoplay=1" title="Selección Argentina La serie | Tráiler oficial" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </section>
        <section class="container">
            <picture class="separador">
                <img src="../img/separador.jpg" alt="separador">
            </picture>
            <article class="containerOne">
                <h2 class="containerOne__title">ÚLTIMOS AGREGADOS</h2>
                <div class="containerOne__img">
                    <img class="img1" src="../img/series/arsenal-aon-poster.png" alt="arsenal: todo o nada">
                    <img class="img2" src="../img/series/seleccion-poster.png" alt="seleccion argentina: la serie">
                    <img class="img3" src="../img/series/bilardo-poster.png" alt="bilardo: la serie">
                </div>
            </article>
            <picture class="separador">
                <img src="../img/separador.jpg" alt="separador">
            </picture>
            <article class="containerTwo">
                <h2 class="containerTwo__title">MÁS POPULAR</h2>
                <div class="containerTwo__img">
                    <img class="img4" src="../img/series/club-de-cuervos-poster.png" alt="club de cuervos">
                    <img class="img5" src="../img/series/captain-tsubasa-poster.png" alt="supercampeones">
                    <img class="img6" src="../img/series/simeone-poster.png" alt="simeone: la serie">
                </div>
            </article>
            <picture class="separador">
                <img src="../img/separador.jpg" alt="separador">
            </picture>
            <article class="containerThree">
                <h2 class="containerThree__title">RECOMENDADOS PARA VOS</h2>
                <div class="containerThree__img">
                    <img class="img7" src="../img/series/city-aon-poster.png" alt="manchester city: all or nothing">
                    <img class="img8" src="../img/series/apache-poster.png" alt="apache: la vida de carlos tevez">
                    <img class="img9" src="../img/series/juve-aon-poster.png" alt="juventus: all or nothing">
                </div>
            </article>
        </section>
    </main> 
    <footer>
        <a href="#mainHeader__logo">
            <img class="footer__img" src="../img/logo.png" alt="FutPlus Logo">
        </a>
        <section class="container">
            <h2 class="footer__text">Fut+ es un proyecto para la plataforma Coderhouse de la carrera de Desarrollo Web. Su construcción y desarrollo está sujeto a cambios.</h2>
            <h2 class="footer__text">© Fut+. Todos los derechos reservados.</h2>
        </section>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>