/* INICIO */

#mainSection {
    background-image: linear-gradient(#0C0A09, #2E2E2E)
}


.frontPage {
    &__title {
        @include flex(row, nowrap, center, stretch);
        font-weight: bold;
        padding: 2rem;
        font-size: 40px;       
    }

    &__video {
        @include flex (row, nowrap, center, stretch);
    }

    &__subtitle {
        @include flex(row, nowrap, center, stretch);
        font-weight: bold;
        padding: 2rem;
        font-size: 36px;
    }

    &__text {
        @include flex(row, nowrap, center, stretch);
        padding: 2rem;
        font-size: 32px;
        font-weight: 400;
    }
}

/* CONTENIDO */

.separador {
    display: block;
    align-items: center;
    margin: 0px auto;
    width: 15rem;
    height: 0.5rem;
    padding: 2rem;
}

.containerLive {
    display: grid;
    grid-template-areas: 
    "tituloVivo tituloVivo tituloVivo"
    "imagenEnVivo1 imagenEnVivo2 imagenEnVivo3"
    "imagenEnVivo4 imagenEnVivo5 imagenEnVivo6"
    "imagenEnVivo7 imagenEnVivo8 imagenEnVivo9";
    justify-content: center;
}


.containerLive {
    &__title {
        grid-area: tituloVivo;
        font-size: 36px;
        font-weight: bold;
        padding: 2rem;
    }

    &__img1 {
        grid-area: imagenEnVivo1;
        width: 386px;
        height: 400px;
        padding: 1rem;
    }

    &__img2 {
        grid-area: imagenEnVivo2;
        width: 386px;
        height: 400px;
        padding: 1rem;
    }

    &__img3 {
        grid-area: imagenEnVivo3;
        width: 386px;
        height: 400px;
        padding: 1rem;
    }

    &__img4 {
        grid-area: imagenEnVivo4;
        width: 386px;
        height: 400px;
        padding: 1rem;
    }

    &__img5 {
        grid-area: imagenEnVivo5;
        width: 386px;
        height: 400px;
        padding: 1rem;
    }

    &__img6 {
        grid-area: imagenEnVivo6;
        width: 386px;
        height: 400px;
        padding: 1rem;
    }

    &__img7 {
        grid-area: imagenEnVivo7;
        width: 386px;
        height: 400px;
        padding: 1rem;
    }

    &__img8 {
        grid-area: imagenEnVivo8;
        width: 386px;
        height: 400px;
        padding: 1rem;
    }

    &__img9 {
        grid-area: imagenEnVivo9;
        width: 386px;
        height: 400px;
        padding: 1rem;
    }
}

/* MEDIA */

@media (max-width: 620px) {
    .mainHeader__nav {
        flex-direction: column;
    }
}