/* INICIO */

#mainSection {
    background-image: linear-gradient(#0C0A09, #2E2E2E)
}

.carousel-item {
    .carousel__title {
        color: white;
        text-shadow: 0 0 5px #0C0A09;
        font-size: xx-large;
    }
    
    .carousel__description {
        color: white;
        text-shadow: 0 0 5px black;
        font-size: large;
    }
}

.frontPage {
    &__title {
        @include flex(row, nowrap, center, stretch);
        font-weight: bold;
        padding: 2rem;
        font-size: 40px;
    }

    &__subtitle {
        @include flex(row, nowrap, center, stretch);
        font-weight: bold;
        padding: 2rem;
        font-size: 36px;
    }

    &__text {
        @include flex(row, nowrap, center, stretch);
        padding: 2rem;
        font-size: 32px;
        font-weight: 400;
    }
}


/* CONTENIDO */

.separador {
    display: block;
    align-items: center;
    margin: 0px auto;
    width: 15rem;
    height: 0.5rem;
    padding: 2rem;
}

$enVivo: (
    img1: 'imagenEnVivo1',
    img2: 'imagenEnVivo2',
    img3: 'imagenEnVivo3',
);

.containerOne {
    display: grid;
    grid-template-areas: 
    "titulo1 titulo1 titulo1"
    "imagenEnVivo1 imagenEnVivo2 imagenEnVivo3";
    justify-content: center;

    &__title {
        grid-area: titulo1;
        font-size: 36px;
        font-weight: bold;
        padding: 2rem;
    }

    &__img {
        width: 386px;
        height: 400px;
        padding: 1rem;
        background-size: cover;
    }

    @each $key, $val in $enVivo {
        .containerOne__img--#{$key} {
            @extend .containerOne__img;
            background-image: url('../img/en-vivo/#{$val}.png');
            grid-area: #{$val};
        }
    }
}

$peliculas: (
    img4: 'imagenPeliculas1',
    img5: 'imagenPeliculas2',
    img6: 'imagenPeliculas3',
);

.containerTwo {
    display: grid;
    grid-template-areas: 
    "titulo2 titulo2 titulo2"
    "imagenPeliculas1 imagenPeliculas2 imagenPeliculas3";
    justify-content: center;

    &__title {
        grid-area: titulo2;
        font-size: 36px;
        font-weight: bold;
        padding: 2rem;
    }

    &__img {
        width: 386px;
        height: 400px;
        padding: 1rem;
        background-size: cover;
    }

    @each $key, $val in $peliculas {
        .containerTwo__img--#{$key} {
            @extend .containerTwo__img;
            background-image: url('../img/peliculas/#{$val}.png');
            grid-area: #{$val};
        }
    }
}

$series: (
    img7: 'imagenSeries1',
    img8: 'imagenSeries2',
    img9: 'imagenSeries3',
);

.containerThree {
    display: grid;
    grid-template-areas: 
    "titulo3 titulo3 titulo3"
    "imagenSeries1 imagenSeries2 imagenSeries3";
    justify-content: center;

    &__title {
        grid-area: titulo3;
        font-size: 36px;
        padding: 2rem;
        font-weight: bold;
    }
    
    &__img {
        width: 386px;
        height: 400px;
        padding: 1rem;
        background-size: cover;
    }

    @each $key, $val in $series {
        .containerThree__img--#{$key} {
            @extend .containerThree__img;
            background-image: url('../img/series/#{$val}.png');
            grid-area: #{$val};
        }
    }
}

/* MEDIA */ 

@media (max-width: 620px) {
    .mainHeader__nav {
        flex-direction: column;
    }
}