/* INICIO */

#mainSection {
    background-image: linear-gradient(#0C0A09, #2E2E2E)
}

.frontPage {
    &__title {
        @include flex(row, nowrap, center, stretch);
        font-weight: bold;
        padding: 2rem;
        font-size: 40px;       
    }

    &__video {
        @include flex (row, nowrap, center, stretch);
    }

    &__subtitle {
        @include flex(row, nowrap, center, stretch);
        font-weight: bold;
        padding: 2rem;
        font-size: 36px;
    }

    &__text {
        @include flex(row, nowrap, center, stretch);
        padding: 2rem;
        font-size: 32px;
        font-weight: 400;
    }
}

/* CONTENIDO */

.separador {
    display: block;
    align-items: center;
    margin: 0px auto;
    width: 15rem;
    height: 0.5rem;
    padding: 2rem;
}

.containerOne {
    display: grid;
    grid-template-areas: 
    "tituloPelicula1 tituloPelicula1 tituloPelicula1"
    "imagenPeliculas1 imagenPeliculas2 imagenPeliculas3";
    justify-content: center;

    &__title {
        grid-area: tituloPelicula1;
        font-size: 36px;
        font-weight: bold;
        padding: 2rem;
    }

    &__img1 {
        grid-area: imagenPeliculas1;
        width: 386px;
        height: 400px;
        padding: 1rem;
    }

    &__img2 {
        grid-area: imagenPeliculas2;
        width: 386px;
        height: 400px;
        padding: 1rem;
    }

    &__img3 {
        grid-area: imagenPeliculas3;
        width: 386px;
        height: 400px;
        padding: 1rem;
    }
}

.containerTwo {
    display: grid;
    grid-template-areas: 
    "tituloPelicula2 tituloPelicula2 tituloPelicula2"
    "imagenPeliculas4 imagenPeliculas5 imagenPeliculas6";
    justify-content: center;

    &__title {
        grid-area: tituloPelicula2;
        font-size: 36px;
        font-weight: bold;
        padding: 2rem;
    }

    &__img1 {
        grid-area: imagenPeliculas4;
        width: 386px;
        height: 400px;
        padding: 1rem;
    }
    
    &__img2 {
        grid-area: imagenPeliculas5;
        width: 386px;
        height: 400px;
        padding: 1rem;
    }
    &__img3 {
        grid-area: imagenPeliculas6;
        width: 386px;
        height: 400px;
        padding: 1rem;
    }
}

.containerThree {
    display: grid;
    grid-template-areas: 
    "tituloPelicula3 tituloPelicula3 tituloPelicula3"
    "imagenPeliculas7 imagenPeliculas8 imagenPeliculas9";
    justify-content: center;

    &__title {
        grid-area: tituloPelicula3;
        font-size: 36px;
        padding: 2rem;
        font-weight: bold;
    }
    
    &__img1 {
        grid-area: imagenPeliculas7;
        width: 386px;
        height: 400px;
        padding: 1rem;
    }

    &__img2 {
        grid-area: imagenPeliculas8;
        width: 386px;
        height: 400px;
        padding: 1rem;
    }

    &__img3 {
        grid-area: imagenPeliculas9;
        width: 386px;
        height: 400px;
        padding: 1rem;
    }
}

/* MEDIA */ 

@media (max-width: 620px) {
    .mainHeader__nav {
        flex-direction: column;
    }
}