/* INICIO */

#mainSection {
    background-image: linear-gradient(#0C0A09, #2E2E2E)
}

.frontPage {
    &__title {
        @include flex(row, nowrap, center, stretch);
        font-weight: bold;
        padding: 2rem;
        font-size: 40px;       
    }

    &__video {
        @include flex (row, nowrap, center, stretch);
    }

    &__subtitle {
        @include flex(row, nowrap, center, stretch);
        font-weight: bold;
        padding: 2rem;
        font-size: 36px;
    }

    &__text {
        @include flex(row, nowrap, center, stretch);
        padding: 2rem;
        font-size: 32px;
        font-weight: 400;
    }
}

/* CONTENIDO */

.separador {
    display: block;
    align-items: center;
    margin: 0px auto;
    width: 15rem;
    height: 0.5rem;
    padding: 2rem;
}

.containerOne {
    display: grid;
    grid-template-areas: 
    "tituloSerie1 tituloSerie1 tituloSerie1"
    "imagenSeries1 imagenSeries2 imagenSeries3";
    justify-content: center;

    &__title {
        grid-area: tituloSerie1;
        font-size: 36px;
        font-weight: bold;
        padding: 2rem;
    }

    &__img1 {
        grid-area: imagenSeries1;
        width: 386px;
        height: 400px;
        padding: 1rem;
    }

    &__img2 {
        grid-area: imagenSeries2;
        width: 386px;
        height: 400px;
        padding: 1rem;
    }

    &__img3 {
        grid-area: imagenSeries3;
        width: 386px;
        height: 400px;
        padding: 1rem;
    }
}

.containerTwo {
    display: grid;
    grid-template-areas: 
    "tituloSerie2 tituloSerie2 tituloSerie2"
    "imagenSeries4 imagenSeries5 imagenPSerie6";
    justify-content: center;

    &__title {
        grid-area: tituloSerie2;
        font-size: 36px;
        font-weight: bold;
        padding: 2rem;
    }

    &__img1 {
        grid-area: imagenSeries4;
        width: 386px;
        height: 400px;
        padding: 1rem;
    }
    
    &__img2 {
        grid-area: imagenSeries5;
        width: 386px;
        height: 400px;
        padding: 1rem;
    }
    &__img3 {
        grid-area: imagenSeries6;
        width: 386px;
        height: 400px;
        padding: 1rem;
    }
}

.containerThree {
    display: grid;
    grid-template-areas: 
    "tituloSerie3 tituloSerie3 tituloSerie3"
    "imagenSeries7 imagenSeries8 imagenSeries9";
    justify-content: center;

    &__title {
        grid-area: tituloSerie3;
        font-size: 36px;
        padding: 2rem;
        font-weight: bold;
    }
    
    &__img1 {
        grid-area: imagenSeries7;
        width: 386px;
        height: 400px;
        padding: 1rem;
    }

    &__img2 {
        grid-area: imagenSeries8;
        width: 386px;
        height: 400px;
        padding: 1rem;
    }

    &__img3 {
        grid-area: imagenSeries9;
        width: 386px;
        height: 400px;
        padding: 1rem;
    }
}

/* MEDIA */ 

@media (max-width: 620px) {
    .mainHeader__nav {
        flex-direction: column;
    }
}